
body {
  font-family: 'Poppins', sans-serif;
  background-color: #f3f6ed;
  color: #333;
  margin: 0;
  padding: 20px;
}

h1, h2 {
  color: #2c3e50;
  text-align: center;
}

a {
  color: #3498db;
  text-decoration: none;
}

a:hover {
  color: #2980b9;
}

ul {
  list-style-type: none;
  padding: 0;
}

button {
  padding: 10px 20px;
  margin: 10px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2980b9;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.pokemon-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.pokemon-list-item {
  background-color: #ecf0f1;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.pokemon-list-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.pokemon-list-item a {
  font-size: 1.2em;
  color: #2c3e50;
  text-transform: capitalize;
}

.pokemon-list-item img {
  width: 100px;
  height: 100px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 10px 15px;
}

.pokemon-detail {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background-color: #ecf0f1;
  border-radius: 10px;
  text-align: center;
}

.pokemon-detail img {
  width: 150px;
  height: 150px;
}

.pokemon-detail h1 {
  font-size: 2.5em;
  text-transform: capitalize;
}

.pokemon-detail h2 {
  margin-top: 30px;
  font-size: 1.5em;
}

.pokemon-detail ul {
  margin-top: 20px;
}

.pokemon-detail li {
  font-size: 1.2em;
  text-transform: capitalize;
  padding: 5px 0;
}
@media (max-width: 768px) {
  .pokemon-list {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  .pokemon-detail {
    margin: 20px;
    padding: 15px;
  }

  .pokemon-detail h1 {
    font-size: 2em;
  }

  .pokemon-detail img {
    width: 120px;
    height: 120px;
  }
}
